# ---------------------
# Environments & Secrets (CRITICAL)
# ---------------------
.env
.venv/
env/
venv/
.dlt/secrets.toml
.dlt/config.toml
*.token

# ---------------------
# SUMO & Simulation Data
# ---------------------
# Ignore all simulation outputs to keep repo size small
outputs/
*.xml
*.pb
*.out.xml
*.net.xml
*.rou.xml
*.add.xml

# ---------------------
# dbt (Data Build Tool)
# ---------------------
target/
dbt_packages/
logs/

# ---------------------
# Python / System
# ---------------------
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Dagster temporary local home
.tmp_dagster_home*/

# ---------------------
# IDE / Editors
# ---------------------
.idea/
.vscode/
*.swp
*.bak